<% content_for :title, "Editing tournament" %>

<h1>Editing tournament</h1>

<%= render "form", tournament: @tournament %>

<br>


<div class="d-flex gap-2">
  <%= link_to "Show this tournament", tournament_path(@tournament), class: "btn btn-outline-primary" %>
  <%= link_to "Back to Tournaments", tournaments_path, class: "btn btn-outline-secondary" %>
</div>
