<p style="color: green"><%= notice %></p>

<% content_for :title, "Tournaments" %>

<h1>Tournaments</h1>

<div id="tournaments">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">BUY IN</th>
        <th scope="col">AWARD</th>
        <th scope="col">PLAYERS</th>
        <th scope="col">POSITION</th>
        <th scope="col">ONLINE</th>
      </tr>
    </thead>
    <tbody>
      <% @tournaments.each do |tournament| %>
        <%= render tournament %>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New tournament", new_tournament_path %>
