<div class="text-center">
  <h1 class="text-4xl font-bold mb-6">Welcome to the Poker Tournaments Appication!</h1>
  <p class="mb-4">Here you can manage your tournaments, check balances and more.</p>
</div>
